doctype html
html(class="no-js", lang="ru")
  include ../components/head/head.pug
  head
    +head(head.defaults)
  body.page
    |%=symbols=%
    
    .wrapper
      .content
        header.page-header
          .page-header__content
            .container
              .page-header__content.page-header__content--body
                .page-header__content-arrow
                  a.arrow(href="#")
                    != pugHelpers.Icon.call(locals, {iconName: 'arrow-icon', className: 'arrow-icon'})
                h2.text.text--white24 Bookings
        main.page-content.el.el--mb30
          nav.menu.menu--hidden
            .el.el--mb35
              .menu__head
                span.menu__exit
                .menu__head-title
                  h2.text.text--white20 Indy Sports
                    span.menu__head-icon
                      != pugHelpers.Icon.call(locals, {iconName: 'menu-head-icon', className: 'menu-head-icon'})
            ul.menu__list
              li.menu__items
                a.text.text--blueLight18(href="wallet.html") Wallet
              li.menu__items
                a.text.text--blueLight18(href="referal.html") Referal
              li.menu__items
                a.text.text--blueLight18(href="corporate.html") Corporate
              li.menu__items
                a.text.text--blueLight18(href="settings.html") Settings
              li.menu__items
                a.text.text--blueLight18(href="faq.html") FAQ
              li.menu__items.menu__items--logout
                a.button.button--red.text.text--red16.text--uppercase.text--center(href="#") Log out
                
          .booking
          
            .booking__title.el.el--p22-0
              .container
                h2.text.text--greyDark24.text--center Booking in progress
                
            ul.booking__list
              li.booking__items-date.el.el--p10-0
                .container
                  h2.text.text--greyDark14 Today
              li.booking__items
                a.booking__list-description(href="booking-in-progress.html")
                  .container
                    .row.row--jc-sb.row--ai-c
                      .booking__list-description-block
                        p.text.text--greyDark14.el.el--mb10 16:00
                        p.text.text--blueLight24 Amanda Gould
                      .booking__list-description-block
                        p.text.text--greyDark24.el.el--mb10 £40.00
                        p.text.text--blueLight14 Deep tessue
              li.booking__items
                a.booking__list-description(href="booking-in-progress.html")
                  .container
                    .row.row--jc-sb.row--ai-c
                      .booking__list-description-block
                        p.text.text--greyDark14.el.el--mb10 16:00
                        p.text.text--blueLight24 Amanda Gould
                      .booking__list-description-block
                        p.text.text--greyDark24.el.el--mb10 £40.00
                        p.text.text--blueLight14 Deep tessue
          
            .booking__title.el.el--p22-0
              .container
                h2.text.text--greyDark24.text--center Upcoming bookings
                
            ul.booking__list
              li.booking__items-date.el.el--p10-0
                .container
                  h2.text.text--greyDark14 Today
              li.booking__items
                a.booking__list-description(href="booking-upcoming.html")
                  .container
                    .row.row--jc-sb.row--ai-c
                      .booking__list-description-block
                        p.text.text--greyDark14.el.el--mb10 16:00
                        p.text.text--blueLight24 Amanda Gould
                      .booking__list-description-block
                        p.text.text--greyDark24.el.el--mb10 £40.00
                        p.text.text--blueLight14 Deep tessue
                          
            .booking__title.el.el--p22-0
              .container
                h2.text.text--greyDark24.text--center Past bookings
                
            ul.booking__list
              li.booking__items-date.el.el--p10-0
                .container
                  h2.text.text--greyDark14 Today
              li.booking__items
                a.booking__list-description(href="booking-past.html")
                  .container
                    .row.row--jc-sb.row--ai-c
                      .booking__list-description-block
                        p.text.text--greyDark14.el.el--mb10 16:00
                        p.text.text--blueLight24 Amanda Gould
                      .booking__list-description-block
                        p.text.text--greyDark24.el.el--mb10 £40.00
                        p.text.text--blueLight14 Deep tessue
                        
            ul.booking__list
              li.booking__items-date.el.el--p10-0
                .container
                  h2.text.text--greyDark14 Yesterday
              li.booking__items
                a.booking__list-description(href="booking-past.html")
                  .container
                    .row.row--jc-sb.row--ai-c
                      .booking__list-description-block
                        p.text.text--greyDark14.el.el--mb10 16:00
                        p.text.text--blueLight24 Amanda Gould
                      .booking__list-description-block
                        p.text.text--greyDark24.el.el--mb10 £40.00
                        p.text.text--blueLight14 Deep tessue
                        
            ul.booking__list          
              li.booking__items-date.el.el--p10-0
                .container
                  h2.text.text--greyDark14 15 iuly 2018
              li.booking__items
                a.booking__list-description(href="booking-past.html")
                  .container
                    .row.row--jc-sb.row--ai-c
                      .booking__list-description-block
                        p.text.text--greyDark14.el.el--mb10 16:00
                        p.text.text--blueLight24 Amanda Gould
                      .booking__list-description-block
                        p.text.text--greyDark24.el.el--mb10 £40.00
                        p.text.text--blueLight14 Deep tessue
              li.booking__items
                a.booking__list-description(href="booking-past.html")
                  .container
                    .row.row--jc-sb.row--ai-c
                      .booking__list-description-block
                        p.text.text--greyDark14.el.el--mb10 16:00
                        p.text.text--blueLight24 Amanda Gould
                      .booking__list-description-block
                        p.text.text--greyDark24.el.el--mb10 £40.00
                        p.text.text--blueLight14 Deep tessue
        
      footer.page-footer
        .footer-content
          .footer-content__description
            .footer-content__description--body
              .container
                ul.nav
                  li.nav__items
                    a.nav__item.nav__item--newBooking(href="new-booking-start.html")
                      != pugHelpers.Icon.call(locals, {iconName: 'new-booking', className: 'new-booking'})
                  li.nav__items
                    a.nav__item.nav__item--bookingList(href="booking-list.html")
                      != pugHelpers.Icon.call(locals, {iconName: 'booking-list', className: 'booking-list'})
                  li.nav__items
                    a.nav__item.nav__item--message(href="messages.html")
                      != pugHelpers.Icon.call(locals, {iconName: 'message-icon', className: 'message-icon'})
                  li.nav__items
                    a.nav__item.nav__item--menu(href="#")
                      != pugHelpers.Icon.call(locals, {iconName: 'menu-icon', className: 'menu-icon'})
    
    script(src='%=static=%js/separate-js/svg4everybody.min.js')
    script svg4everybody();

    //- Main scripts. You can replace it, but I recommend you to leave it here
    script(src='%=static=%js/main%=hash=%%=min=%.js')
