doctype html
html(class="no-js", lang="ru")
  include ../components/head/head.pug
  head
    +head(head.defaults)
  body.page
    |%=symbols=%
    
    .wrapper
      .content.content--newBooking
        .el.el--mb20
          header.page-header
            .page-header__content
              .container
                .page-header__content.page-header__content--body
                  .page-header__content-arrow
                    a.arrow(href="#")
                      != pugHelpers.Icon.call(locals, {iconName: 'arrow-icon', className: 'arrow-icon'})
                  h2.text.text--white24 New booking
        main.page-content.el.el--mb50.el--mb20Iphone5
          nav.menu.menu--hidden
            .el.el--mb35
              .menu__head
                span.menu__exit
                .menu__head-title
                  h2.text.text--white20 Indy Sports
                    span.menu__head-icon
                      != pugHelpers.Icon.call(locals, {iconName: 'menu-head-icon', className: 'menu-head-icon'})
            ul.menu__list
              li.menu__items
                a.text.text--blueLight18(href="wallet.html") Wallet
              li.menu__items
                a.text.text--blueLight18(href="referal.html") Referal
              li.menu__items
                a.text.text--blueLight18(href="corporate.html") Corporate
              li.menu__items
                a.text.text--blueLight18(href="settings.html") Settings
              li.menu__items
                a.text.text--blueLight18(href="faq.html") FAQ
              li.menu__items.menu__items--logout
                a.button.button--red.text.text--red16.text--uppercase.text--center(href="#") Log out
                
          .booking.booking--newBooking
            .container
              .booking__new-booking-tabs.el.el--mb55.el--mb20Iphone5
                .row.row--jc-c
                  button.booking__new-booking-tab(type="button") Therapy
              ul.booking__new-booking-nav-list
                li.booking__new-booking-nav-item
                  .row.row--jc-c.row--grow
                    .booking__linksWrap.column.column--jc-sb
                      .booking__new-booking-nav-resizeWrap
                        .booking__new-booking-nav-resize-bar
                          .booking__new-booking-nav-resize-bar-fill
                          span.booking__new-booking-nav-resize-control
                      a.booking__new-booking-nav-link.booking__new-booking-nav-link--active(href="#") 1. Therapy
                      a.booking__new-booking-nav-link.booking__new-booking-nav-link--active(href="#") 2. Date & time
                      a.booking__new-booking-nav-link.booking__new-booking-nav-link--active(href="#") 3. Address
                      a.booking__new-booking-nav-link(href="#") 4. Therapist
                      a.booking__new-booking-nav-link(href="#") 5. Confirm
              .booking__new-booking-buttonWrap.el.el--mt55.el--mt20Iphone5
                .row.row--jc-c
                  a.booking__new-booking-button.text.text--white20.text--center(href="new-booking-step1.html") Start
        
      footer.page-footer
        .footer-content
          .footer-content__description
            .footer-content__description--body
              .container
                ul.nav
                  li.nav__items
                    a.nav__item.nav__item--newBooking(href="new-booking-start.html")
                      != pugHelpers.Icon.call(locals, {iconName: 'new-booking', className: 'new-booking'})
                  li.nav__items
                    a.nav__item.nav__item--bookingList(href="booking-list.html")
                      != pugHelpers.Icon.call(locals, {iconName: 'booking-list', className: 'booking-list'})
                  li.nav__items
                    a.nav__item.nav__item--message(href="messages.html")
                      != pugHelpers.Icon.call(locals, {iconName: 'message-icon', className: 'message-icon'})
                  li.nav__items
                    a.nav__item.nav__item--menu(href="#")
                      != pugHelpers.Icon.call(locals, {iconName: 'menu-icon', className: 'menu-icon'})
    
    script(src='%=static=%js/separate-js/svg4everybody.min.js')
    script svg4everybody();

    //- Main scripts. You can replace it, but I recommend you to leave it here
    script(src='%=static=%js/main%=hash=%%=min=%.js')
