doctype html
html(class="no-js", lang="ru")
  include ../components/head/head.pug
  head
    +head(head.defaults)
  body.page
    |%=symbols=%
    
    .wrapper
      .content
        .el.el--mb20
          header.page-header
            .page-header__content
              .container
                .page-header__content.page-header__content--body
                  .page-header__content-arrow
                    a.arrow(href="#")
                      != pugHelpers.Icon.call(locals, {iconName: 'arrow-icon', className: 'arrow-icon'})
                  h2.text.text--white24 Sat 15 July 2017
        main.page-content.el.el--mb50
          nav.menu.menu--hidden
            .el.el--mb35
              .menu__head
                span.menu__exit
                .menu__head-title
                  h2.text.text--white20 Indy Sports
                    span.menu__head-icon
                      != pugHelpers.Icon.call(locals, {iconName: 'menu-head-icon', className: 'menu-head-icon'})
            ul.menu__list
              li.menu__items
                a.text.text--blueLight18(href="wallet.html") Wallet
              li.menu__items
                a.text.text--blueLight18(href="referal.html") Referal
              li.menu__items
                a.text.text--blueLight18(href="corporate.html") Corporate
              li.menu__items
                a.text.text--blueLight18(href="settings.html") Settings
              li.menu__items
                a.text.text--blueLight18(href="faq.html") FAQ
              li.menu__items.menu__items--logout
                a.button.button--red.text.text--red16.text--uppercase.text--center(href="#") Log out
                
          .booking
            .container
              .booking__order-nav.el.el--mb30
                .row.row--jc-c
                  a.booking__order-nav-items.booking__order-nav-items--active(href="new-booking-step1.html") 1 Service
                  a.booking__order-nav-items(href="new-booking-step2.html") 2
                  a.booking__order-nav-items(href="new-booking-step3.html") 3
                  a.booking__order-nav-items(href="new-booking-step4.html") 4
                  a.booking__order-nav-items(href="new-booking-step5.html") 5
                  
              .booking__order-cart
                .booking__order-cart-title.el.el--p10-15
                  p.text.text--blueLight14.text--uppercase Massage
                .booking__order-cart-description
                  .booking__order-cart-description-text-wrap
                    p.text.text--white14 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum pulvinar scelerisque quam vel porttitor
                .row.el--p20-15
                  a.button.button--blue.text.text--blueLight20.text--uppercase.text--center.el.el--resizeMr3(href="explore.html") Explore
                  a.button.button--blue.text.text--blueLight20.text--uppercase.text--center(href="#") Book
                  
              .booking__order-cart.booking__order-cart--blue
                .booking__order-cart-title.el.el--p10-15
                  p.text.text--blueLight14.text--uppercase Massage
                .booking__order-cart-description.column
                  .booking__order-cart-description-text-wrap
                    p.text.text--white14.el--mb10 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum pulvinar scelerisque quam vel porttitor
                  .booking__order-cart-description-buttons.column
                    .booking__order-cart-description-button.el.el--mt-a
                      a.button.button--white.button--b2.button--p5.text.text--white14.text--center.text--uppercase.text--iphone5-white12(href="explore.html") Explore
                        
              .booking__order-cart.booking__order-cart--blue
                .booking__order-cart-title.el.el--p10-15
                  p.text.text--blueLight14.text--uppercase Service name
                .booking__order-cart-description.column
                  .booking__order-cart-description-text-wrap
                    p.text.text--white14.el--mb10 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum pulvinar scelerisque quam vel porttitor
                  .booking__order-cart-description-buttons.row
                    .booking__order-cart-description-button.el.el--mt-a.row--grow
                      a.button.button--white.button--b2.button--p5.text.text--white14.text--center.text--uppercase.text--iphone5-white12(href="explore.html") Explore
                    .booking__order-cart-description-button.row--grow
                      a.button.button--white.button--b2.button--p5.text.text--white14.text--center.text--uppercase.text--iphone5-white12(href="#") Book
                        
              .booking__order-cart.booking__order-cart--blue
                .booking__order-cart-title.el.el--p10-15
                  p.text.text--blueLight14.text--uppercase Service name
                .booking__order-cart-description.column
                  .booking__order-cart-description-text-wrap
                    p.text.text--white14.el--mb10 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum pulvinar scelerisque quam vel porttitor
                  .booking__order-cart-description-buttons.column
                    .booking__order-cart-description-button.el.el--mt-a
                      a.button.button--white.button--b2.button--p5.text.text--white14.text--center.text--uppercase.text--iphone5-white12(href="explore.html") Explore
        
      footer.page-footer
        .footer-content
          .footer-content__description
            .footer-content__description--body
              .container
                ul.nav
                  li.nav__items
                    a.nav__item.nav__item--newBooking(href="new-booking-start.html")
                      != pugHelpers.Icon.call(locals, {iconName: 'new-booking', className: 'new-booking'})
                  li.nav__items
                    a.nav__item.nav__item--bookingList(href="booking-list.html")
                      != pugHelpers.Icon.call(locals, {iconName: 'booking-list', className: 'booking-list'})
                  li.nav__items
                    a.nav__item.nav__item--message(href="messages.html")
                      != pugHelpers.Icon.call(locals, {iconName: 'message-icon', className: 'message-icon'})
                  li.nav__items
                    a.nav__item.nav__item--menu(href="#")
                      != pugHelpers.Icon.call(locals, {iconName: 'menu-icon', className: 'menu-icon'})
    
    script(src='%=static=%js/separate-js/svg4everybody.min.js')
    script svg4everybody();

    //- Main scripts. You can replace it, but I recommend you to leave it here
    script(src='%=static=%js/main%=hash=%%=min=%.js')
