// Common styles of the project

html,
body
  height 100%

.wrapper
  display flex
  flex-direction column
  height 100%

.content
  flex 1 0 auto
  &--newBooking
    display flex
    flex-direction column
    .page-content
      flex-grow 1
      display flex
      flex-direction column

.page-footer
  flex 0 0 auto
  
.container
  padding 0 3.125%
  
img
  width 100%
  height auto