// colors
white = #ffffff
blue = #00a3b1
blueDark = #023e4f
blueMedium = #4976aa
blueLight = #4cc5cf
blueThin = #2a8492
red = #f6494e
grey = #868686
greyDark = #4e607d
greyDarkLight = #6d8e93;
greyLight = #f8f8f8
green = #167852

// File for less-vars.
// For example: main colors, paddings and so on.