.corporate__button
  width 77.083333333333333%
  
.corporate__code
  reset-input()
  
  padding 15px 10px
  
  border 1px solid blueLight
  border-radius 5px
  &::-webkit-input-placeholder {
    color blueDark
    font-size: 20px;
    line-height: 23px;
    font-weight 400

    opacity: 1;
  }

  &:-moz-input-placeholder {
    color blueDark
    font-size: 20px;
    line-height: 23px;
    font-family: 'Roboto', sans-serif;
    font-weight 400

    opacity: 1;
  }

  &::-moz-placeholder {
    color blueDark
    font-size: 20px;
    line-height: 23px;
    font-family: 'Roboto', sans-serif;
    font-weight 400

    opacity: 1;
  }

  &:-ms-input-placeholder {
    color blueDark
    font-size: 20px;
    line-height: 23px;
    font-family: 'Roboto', sans-serif;
    font-weight 400

    opacity: 1;
  }