.nav
  reset-list()
  
  display flex
  justify-content space-around
  align-items center
  
.nav__items
  cursor pointer
  
.nav__item
  display block
  &--newBooking
    width 43px
    height 44px
    .new-booking
      width 100%
      height auto
      
      fill:none;stroke:#8ad9e0;stroke-miterlimit:10;stroke-width:3px;
  &--bookingList
    width 43px
    height 44px
    .booking-list
      width 100%
      height auto
      
      fill:none;stroke:#8ad9e0;stroke-miterlimit:10;stroke-width:3px;
  &--message
    width 43px
    height 44px
    .message-icon
      width 100%
      height auto
      
      fill:none;stroke:#8ad9e0;stroke-width:5px;
  &--menu
    display flex
    
    width 43px
    height 44px
    .menu-icon
      width 100%
      height auto
      
      fill:none;stroke:#8ad9e0;stroke-linecap:round;stroke-linejoin:round;stroke-width:3px;