@import 'blocks/main/row.styl';
@import 'blocks/main/column.styl';
@import 'blocks/main/text.styl';
@import 'blocks/main/button.styl';
@import 'blocks/main/el.styl';
@import 'blocks/main/border.styl';
@import 'blocks/page-header.styl';
@import 'blocks/nav.styl';
@import 'blocks/question.styl';
@import 'blocks/arrow.styl';
@import 'blocks/page-content.styl';
@import 'blocks/menu.styl';
@import 'blocks/wallet.styl';
@import 'blocks/referal.styl';
@import 'blocks/corporate.styl';
@import 'blocks/settings.styl';
@import 'blocks/faq.styl';
@import 'blocks/message.styl';
@import 'blocks/booking.styl';
@import 'blocks/footer-content.styl';