.el
  &--mt-a
    margin-top auto
  &--ml-a
    margin-left auto
  
  &--mt55
    margin-top 55px
  &--mt30
    margin-top 30px
  &--mt25
    margin-top 25px
  &--mt10
    margin-top 10px
  &--mt5
    margin-top 5px
    
  &--ml5
    margin-left 5px
  
  &--mr25
    margin-right 25px
  &--mr20
    margin-right 20px
  &--mr10
    margin-right 10px
  
  &--mb70
    margin-bottom 70px
  &--mb55
    margin-bottom 55px
  &--mb50
    margin-bottom 50px
  &--mb45
    margin-bottom 45px
  &--mb40
    margin-bottom 40px
  &--mb35
    margin-bottom 35px
  &--mb30
    margin-bottom 30px
  &--mb25
    margin-bottom 25px
  &--mb20
    margin-bottom 20px !important
  &--mb15
    margin-bottom 15px
  &--mb10
    margin-bottom 10px
  &--mb5
    margin-bottom 5px
  
  &--p25-0
    padding 25px 0
  &--p22-0
    padding 22px 0
    
  &--p20-15
    padding 20px 15px
    
  &--p0-15
    padding 0 15px
    
  &--p15-0
    padding 15px 0
  &--p10-15
    padding 10px 15px
  &--p10-0
    padding 10px 0
  
  &--resizeMr15
    margin-right 15%
  &--resizeMr12
    margin-right 12%
  &--resizeMr11
    margin-right 11%
  &--resizeMr10
    margin-right 10%
  &--resizeMr5
    margin-right 5%
  &--resizeMr3
    margin-right 3%
    
@media (max-width: 420px)
  .el
    &--resizeMr11Pixel
      margin-right 11%
    &--resizeMr8Pixel
      margin-right 8%
    
@media (max-width: 375px)
  .el
    &--mb25IphoneX
      margin-bottom 25px
      
@media (max-width: 374px)
  .el
    &--mt20Iphone5
      margin-top 20px
    
    &--mb20Iphone5
      margin-bottom 20px
    &--mb15Iphone5
      margin-bottom 15px
      
